/*header {
  padding: 154px 0 100px;
}*/

/*@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}*/

/*@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}*/

body {
    font-family: 'Nunito', sans-serif;
}

/*.alumnica-container{
    width:1200px;
}*/

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


section {
    padding: 150px 0;
}


.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

/* ----HEADER---- */
.navbar-brand img {
  height: 40px;
  width: auto;
}
/* ----FOOTER---- */
.footer-brand img {
  height: 50px;
  width: auto;
}

.footer-social {
  margin: 20px 0;
}

.footer-brand {
  margin: 20px 0;
}

.footer-nav {
  margin: 20px 0;
}

/* Social Links */
.social-footer-btn i {
  color: white;
  font-size: 1.2rem;
}
.social-footer-btn {
  background-color: #000;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  margin: 0 10px;
}
.social-footer-btn:hover {
  background-color: #464646;
}

/* CopyRigth */
.footer-line {
  color: #757575;
  opacity: 0.8;
}
.acento-footer{
  height: 1.2rem;
  width: auto;
}
.copy-rigth>a, .copy-rigth>p, .copy-rigth>img{
  font-size: 0.8rem;
  color: #757575;
  display: inline-block;
}
